{
  // The "next/babel" preset includes everything needed to transpile React applications. This includes:
  // - preset-env
  // - preset-react
  // - plugin-proposal-class-properties
  // - plugin-proposal-object-rest-spread
  // - plugin-transform-runtime
  // - styled-jsx
  "presets": ["next/babel"],
}
