<header class="mb-12 flex justify-between">
  <strong class="font-bold whitespace-no-wrap">
    <a class="block" href="/">Simon Sinclair</a>
  </strong>
  {% include "partials/nav-bar.njk" %}
</header>
