---
layout: "base"
permalink: "index.html"
---
<main class="mb-24">
  <div class="mb-12">
    <h1 class="mb-4">Hello.</h1>
    <p class="mb-4 text-4xl">I&apos;m Simon &mdash; a Software Engineer from the United Kingdom. I currently work for the
      <abbr title="British Broadcasting Corporation">BBC</abbr>
      in London.</p>
  </div>

  <div class="mb-12">
    <h2 class="mb-4">Contact</h2>
    <a href="mailto:simon@simonsinclair.com">simon@simonsinclair.com</a>
  </div>

  <div>
    <h2 class="mb-4">Elsewhere</h2>
    <ul class="flex flex-wrap -mx-2">
      <li>
        <a class="block p-2" href="https://github.com/simonsinclair">GitHub</a>
      </li>
      <li>
        <a class="block p-2" href="https://www.linkedin.com/in/thatsbyme/">LinkedIn</a>
      </li>
      <li>
        <a class="block p-2" href="https://www.instagram.com/simon.sinclair/">Instagram</a>
      </li>
      <li>
        <a class="block p-2" href="https://twitter.com/thatsbyme">Twitter</a>
      </li>
    </ul>
  </div>
</main>
